@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Syd Hull Page";
}


<h1>Syd Hull</h1>
<img src="img/surrons.jpg" />

<p>
    I hope to flippin survive this 413 class. Coding is not my strong suit but heck I'm for sure
    gonna work hard here. I want to learn how to code in C#. I don't know much past that because
    I literally don't know what it offers, but ya I want to be a decent C# coder and understand
    what all of the things are doing. I want to bettern learn the methods, classes, stuff like that.
</p>
<p>The 3 Jobs I'm most interested in upon graduation:</p>
<ul>
    <li>Professional Surfer</li>
    <li>Master Distiller</li>
    <li>Live Mannequin/Human Statue</li>
</ul>
<br />